/* style.scss */

$primary-color: #333;
$yellow: #f0a64b;
$thirdcolor: #6692f2;
$backColor: #ededed;


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

	html,
	body {
   	margin: 0;
  	padding: 0;
	}

	body {
	  background-color: $backColor;
	  margin: 0;
	}

	div.profile {
		width: 23%;
		position: absolute;
		margin-left: 3%;
		border-left: 1px solid $primary-color;
		h1 {
			color: $yellow;
			margin-left: 2%;
			font-size: 1.2em;
		}
			h2 {
				color: $yellow;
				margin-left: 2%;
				font-size: .8em;
			}
	}

	div.content {
		background-color: $primary-color;
		position: absolute;
		width: 50%;
		margin-left: 25%;
		height: 690px;	
		text-align: center;
	}

	div.left-content {
		top: 25%;
		width: 23%;
		position: absolute;
		height: 370px;
		margin-left: 3%;
		border-left: 1px solid $primary-color;
		p {
			color: $primary-color;
			margin-left: 2%;
			font-size: .8em;
		}
	}

	div.right-content {
		width: 20%;
		float: right;
		margin-right: 3%;
		color: lime;
		.tags {
			color: $yellow;
			height: 200px;
			text-align: center;
		}
		.map {
			margin-top: 70%;
			img {
				width: 100%;
			}
		}
	}

	div.bottom-menu {
		background-color: $yellow;
		z-index: -1;
		position:fixed;
	   	bottom:0;
	   	width: 100%;
	   	height: 30px;
	   	p {
	   		font-size: .8em;
	   		color: $primary-color;
	   		padding-left: 2%;
	   	}

	}

	
}/* End desktop layout ----------- */


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body {
  		background-color: $primary-color;
  		margin: 0;
	}
}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	body {
  		background-color: $thirdcolor;
  		margin: 0;
	}
}




