/* style.scss */
body {
  background-color: white;
  margin: 0;
}

div.profile {
  background-color: #333333;
  width: 20%;
}

div.content {
  background-color: #333333;
  display: block;
  width: 50%;
  text-align: center;
}

div.left-content {
  background-color: #333333;
  width: 20%;
}

div.right-content {
  background-color: #333333;
  width: 20%;
  float: right;
}

div.bottom-menu {
  background-color: #333333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  bottom: 0;
  width: 100%;
}
